main {
	padding: 1rem 1.5rem;
}

.page-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.5rem;
	border-radius: 8px;
	margin-bottom: 2rem;
	padding: 1.25rem 2rem;
	background: var(--card-bg);
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.page-header .search-bar {
	background: var(--input-bg);
	width: 100%;
	font-size: 1rem;
	color: var(--text-color);
	padding: 0.75rem 1.5rem;
	border: none;
	border-radius: 0.8rem;
	outline: none;
	transition: box-shadow 0.2s;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
}

.page-header .search-bar::placeholder {
	color: var(--muted-color);
}

.page-header .search-bar:focus {
	background-color: var(--input-fcs);
	color: var(--text-color);
}

.header-actions {
	display: flex;
	align-items: center;
	gap: 1.2rem;
}

.header-actions button {
	font-size: 1.3rem;
	color: var(--muted-color);
	background: var(--input-bg);
	border-radius: 0.25rem;
	padding: 0.8rem;

	display: flex;
	align-items: center;
	transition: background 0.2s, color 0.2s;
}

.header-actions button:hover {
	color: var(--text-color);
	background: var(--primary-color-1);
}

.header-actions .profile {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid var(--input-bg);
}

.media-shelf {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.media-item {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: end;
	border-radius: 8px;
	aspect-ratio: 6 / 8;
}

.media-item img {
	position: absolute;
	z-index: 1;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	user-select: none;
	pointer-events: none;
}

.media-item::before {
	position: absolute;
	content: "";
	inset: 0;
	z-index: 2;
	pointer-events: none;
	background: linear-gradient(to top, var(--card-bg) 0%, rgba(35, 39, 47, 0) 65%);
}

.media-info {
	position: relative;
	z-index: 3;
	width: 100%;
	padding: 0 1rem 1rem;
}

.media-info h3 {
	font-weight: 600;
	line-height: 1.2;
	font-size: 1.1rem;
	color: var(--white-color);
}

.media-info p {
	width: 23ch;
	font-size: 0.95rem;
	font-weight: 400;
	color: #b0b8c1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.media-action {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.25rem;
	height: 2.25rem;
	border-radius: 50%;
	background: var(--card-bg);
}

.media-action i {
	font-size: 1.3rem;
	color: var(--primary-color-1);
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
}
.modal-overlay.active {
	opacity: 1;
	visibility: visible;
}

.modal {
	background-color: var(--card-bg);
	border-radius: 12px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 500px;
	margin: 20px;
	transform: translateY(20px);
	transition: transform 0.3s;
}

.modal-overlay.active .modal {
	transform: translateY(0);
}
.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid var(--brdr-color);
}
.modal-title {
	font-size: 1.25rem;
	font-weight: 600;
}
.modal-close {
	background: none;
	border: none;
	font-size: 1.25rem;
	color: #999;
	cursor: pointer;
	transition: color 0.3s;
}
.modal-close:hover {
	color: #666;
}

.modal-form {
	padding: 0 1.5rem 1.5rem;
}

.modal-form .input-wrapper.block {
	display: grid;
}

.modal-form > .input-wrapper,
.modal-form > .radiobox-wrapper {
	margin-block: calc(20rem / 16);
}

.modal-form > .input-wrapper .inline,
.modal-form > .radiobox-wrapper .inline {
	display: flex;
	align-items: start;
}

.modal-form > .input-wrapper label,
.modal-form > .radiobox-wrapper p {
	width: 30%;
	color: var(--txt-color);

	font-size: calc(16rem / 16);
	font-weight: 500;
}

.modal-form input,
.modal-form select,
.modal-form textarea,
.modal-form input[type="file"] {
	height: 2.5rem;
	width: 100%;
}

.modal-form input,
.modal-form select,
.modal-form textarea {
	color: var(--muted-color);
	background: var(--input-bg);
	font-size: calc(16rem / 16);

	border: none;
	outline: none;
	border-radius: 4px;
	padding: 8px 16px;
}

.modal-form input:focus,
.modal-form select:focus,
.modal-form textarea:focus {
	outline: none;
	color: var(--txt-color);
	background-color: var(--input-fcs);
	border: 2px solid var(--brdr-color);
}

.modal-form input.error,
.modal-form select.error,
.modal-form textarea.error {
	color: var(--color-danger-2);
	border: 2px solid var(--color-danger-2);
}

.modal-form input.error:focus,
.modal-form select.error:focus,
.modal-form textarea.error:focus {
	color: var(--text-color);
}

.modal-form input.error::placeholder,
.modal-form select.error::placeholder,
.modal-form textarea.error::placeholder {
	color: var(--color-danger-1);
}

.modal-form textarea {
	resize: none;
	height: calc(160rem / 16);
}

.modal-form select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
}

.modal-form select.open {
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='18 15 12 9 6 15'%3E%3C/polyline%3E%3C/svg%3E");
}

.modal-form select option:checked {
	color: var(--text-color);
	background-color: var(--primary-color-1);
}

.modal-form .options-wrapper {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
}

.modal-form .radiobox-wrapper .input-wrapper {
	display: grid;
	grid-template-columns: 25% auto;
	padding-block: 0.125rem;

	width: 100%;
	font-size: 1rem;
	line-height: 1.1;
}

.modal-form input[type="radio"],
.modal-form input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	font: inherit;
	height: 0.5rem;
	width: 0.5rem;
	transform: translateY(-0.075em);
	padding: 0.5rem;
	display: grid;
	place-content: center;
	border-radius: 0.125rem;
	background-color: var(--input-bg);
	border: 0.15rem solid var(--brdr-color);
}

.modal-form input[type="radio"]::before,
.modal-form input[type="checkbox"]::before {
	content: "";
	width: 1rem;
	height: 1rem;
	border-radius: 0.125rem;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
	background-color: CanvasText;
}

.modal-form input[type="radio"]:checked::before,
.modal-form input[type="checkbox"]:checked::before {
	background-color: var(--primary-color-1);
	transform: scale(1);
}

.modal-form input[type="radio"],
.modal-form input[type="radio"]::before {
	border-radius: 50%;
}

.modal-form p.error-text {
	margin-left: 23%;
	color: var(--color-danger-2);
	font-size: calc(13rem / 16);
	font-weight: 400;
	padding-top: 4px;
}

.modal-form .form-buttons {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 12px;
}

.modal-form .form-buttons .button {
	width: calc(96rem / 16);
	font-size: calc(14rem / 16);
	font-weight: 500;
}

.modal-form .form-buttons .button.cancel {
	background-color: var(--color-danger-2);
}

.modal-form .form-buttons .button.cancel:hover {
	background-color: var(--color-danger-2);
}

.submit-btn {
	width: 100%;
	padding: 14px;
	background-color: #4f46e5;
	color: white;
	border: none;
	border-radius: 8px;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.3s;
}

.submit-btn:hover {
	background-color: #4338ca;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in {
	animation: fadeIn 0.4s ease-out forwards;
}

form .input-wrapper.block {
	display: flex;
	flex-direction: column;
}
